
<div class="container padded text-center">
  <h1>Our team</h1>
  <ul class="list-inline">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle profile-picture" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>

  <% link_to 'mailto:contact@airbnb.com' do %>
    <span><i class='fa fa-envelope-o'></i> envoyer un email </span>
  <% end %>

</div>
